const conf = {
    canvasUrl: 'https://canvas.us.babylonpartners.com', // CHANGE FOR YOUR REGION
    region: 'USA', // OR STATE, 'US-TX'
    clientId: CLIENT-ID-GOES-HERE,
    issuer: 'ISSUER-USED',
    callbackUrl: 'PROVISIONED-CALLBACK-GOES-HERE',
    keyId: 'BABYLON-PROVIDED-PUBLIC-KEY-ID-HERE'
}
module.exports = conf
