const conf = {
    canvasUrl: 'https://canvas.us.preprod.babylontech.co.uk',
    region: 'USA',
    clientId: CLIENT-ID-GOES-HERE,
    issuer: 'ISSUER-USED',
    callbackUrl: 'PROVISIONED-CALLBACK-GOES-HERE',
    keyId: 'BABYLON-PROVIDED-PUBLIC-KEY-ID-HERE'
}
module.exports = conf
